@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/footer";
@import "../common/header";
@import "./common";

main.wrapper {
  div.product-advertisment {
    display: flex;

    div.product-description {
      flex: 1 1 50%;
    }
    div.product-image {
      flex: 1 1 50%;
    }
    @media (max-width: @modesgrid-media-query-medium){
      flex-direction: column;

      div.product-description {
        flex-basis: auto;
      }
      div.product-image {
        flex-basis: auto;
      }
    }
  }
}
