@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/footer";
@import "../common/header";
@import "./common";

div.register-verification-container {
  b {
    margin-bottom: 50px;
  }

}
