@import "common/colors";
@import "common/medias";
@import "common/common";
@import "common/footer";
@import "common/header";

main.wrapper {
  margin-top: 20px;
    @media (max-width: @wtk-media-query-small){
      margin-top: 0px;
    }
}

div.about-content{
  margin-left: 16.666%;
  margin-top: 0px;
  min-height: ~"calc(100vh - 179px)";
  @media (max-width: @modesgrid-media-query-medium){
    margin-left: 0;
  }
}
div.me {
  padding: 0 20px;

  div.myInfo {
    align-self: center;
    text-align: center;
    a {
      display: block;
      margin-bottom: 10px;
    }
    ul{
      list-style-type: none;
      line-height: 25px;
      margin: 0;
      padding: 0;
      margin-bottom: 21px;
    }
    blockquote {
      @media (max-width: @wtk-media-query-small){
        margin-top: 0px;
      }

      &.life {
        margin-top: 40px;
      }
    }
    div#instafeed {
      margin: 60 0;

      a.insta{
        display: inline;
            @media (max-width: @wtk-media-query-small) {
              img {
                width: 120px;
              }
            }
      }
    }
  }
}
