@import "common/colors";
@import "common/common";
@import "common/footer";
@import "common/header";

input[type='submit']{
  background-color: #834299;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form{
  margin-left: 0 20%;
}
