@import "common/colors";
@import "common/medias";
@import "common/common";
div.error-404{
  margin-top: 100px;
}
div.error, div.error-404 {
    opacity: 0.6;
    width: 100%;
    span {
        text-align: center;
        color: #6E6E6E;
        display: block;
        font-size: 34px;
    }
    div.gear {
        opacity: 0.6;
        span.not-found {
            font-size: 120px;
        }
    }
}
