@import "common/colors";
@import "common/medias";
@import "common/common";
@import "common/footer";
@import "common/header";

div.banner{
  margin-top: 23px;
  .bx-wrapper .bx-viewport{
    box-shadow: none;
    border: 0;
    left: 0;
  }
  .bx-controls-direction{ display: none; }
  ul.slider {
      li.slide {
        text-align: center;
          img{
            width: 100%;
            max-width: 700px;
            margin: auto;
          }
          h1,h2{
            font-size: 40px;
            text-transform: none;
            position: absolute;
            top: 50%;
            margin: -35px auto 0;
            width: 100%;
            padding: 0 20%;
          }
          h1{
            color: #fff;
          }
          h2{
            margin: -45px auto 0;
            color: #fff;
          }
          @media (max-width: 780px) {
            h1,h2{
              font-size: 25px;
              padding: 0 20px;
              margin: -35px auto 0;
            }
          }
          @media (max-width: 550px) {
            h1,h2{
              font-size: 20px;
              padding: 0 10px;
              margin: -25px auto 0;
            }
          }
      }
  }
}

main.wrapper{
  margin-top: 85px;
}
div.blogs-container {
    margin-left: 16.6666%;
    @media (max-width: @modesgrid-media-query-medium){
      margin-left: 0;
    }
    ul.blogs-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 0 0 20px;
            margin-bottom: 40px;
            &:nth-child(odd){
              padding-right: 30%;
              @media (max-width: @modesgrid-media-query-medium) {
                padding-right: 0;
              }
            }
            &:nth-child(even){
              padding-left: 30%;
              text-align: right;
              @media (max-width: @modesgrid-media-query-medium) {
                padding-left: 0;
              }
            }
            h2{
              span{
                margin-left: 20px;
                font-size: 12px;
                font-weight: 400;
                text-transform: none;
                @media (max-width: @dates-media-query-small) {
                  display: block;
                  margin-left: 0;
                }
              }

            }
            a.read-more{
              font-weight: 600;
            }
        }
    }
}
