
@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/footer";
@import "../common/header";

div.product-advertisment {
  margin-top: 20px;
  div.product-customs {
    display: flex;
    justify-content: center;
    div.product-free{
      flex: 1 1 50%;
    }
    div.product-pay{
      flex: 1 1 50%;
    }

    div.plan {
      background: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      min-height: 450px;
      padding: 32px 16px;
      position: relative;
      max-width: 300px;

      &.first {
        margin-left: auto;
      }

      h1 {
        margin: 20px 0;
        padding: 0;
        color: #205081;
        font-size: 90px;
        line-height: 90px;

        &.money {
          border-top: 1px solid #cccccc;
        }
      }

      h2 {
        color: #205081;
        font-size: 40px;
        line-height: 40px;
      }

    }

    @media (max-width: @modesgrid-media-query-medium){
      flex-direction: column;

      div.product-free {
        flex-basis: auto;
      }
      div.product-pay {
        flex-basis: auto;
      }

      div.plan {
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        &.first {
          margin-left: auto;
        }
      }
    }
  }

}
