@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/footer";
@import "../common/header";

main.wrapper {
  div.top-info{
    border-bottom: 1px solid #cccccc;
    display: flex;
    padding-bottom: 40px;

    div.features-list {
      flex: 1 1 50%;
      border-right: 1px solid #cccccc;

      ul {
        line-height: 20px;
        li.notick {
          margin-left: 14px;
        }
      }
    }

    div.actions-box {
      flex: 1 1 50%;
      align-self: center;
      margin-left: 20px;
      input {
        display: block;
        margin-bottom: 10px;
      }
      input[type='text']{
        line-height: 40px;
        margin-bottom: 20px;
        width: 300px;
      }
      div.yourKey {
        display: none;
      }
    }
    @media (max-width: @modesgrid-media-query-medium){
      flex-direction: column;
        div.features-list {
            flex-basis: auto;
            border-right: 0;
        }
        div.actions-box {
            flex-basis: auto;
            margin-left: 0px;
        }
    }

  }

  div.pay-box {
    margin: 20px auto;
    min-width: 300px;
    width: 50%;
  }
}
