@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/comments";
@import "../common/footer";
@import "../common/header";
@import "../common/blogs";
.wrapper {
    div.contents {
        div.section {
            h4.tech {
                margin-bottom: 20px;
            }
            p.fa-thumb {
              text-align: right;
            }
            i.fa-thumbs-down {
              color: #a33d3d;
            }
            i.fa-thumbs-up {
              color: #6fc05d;
            }
            &.conclusions{
              ul{
                margin-top: 0;
                padding-left: 0;
                margin-left: -10px;
              }
            }
        }
    }
}
