head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  title Eureca Chat by We Talk Code
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description", content="Eureca.io  chat example with knockout and typescript develo by We Talk Code")
  meta(name="robots", content="INDEX, NOFOLLOW")
  link(href="/build/css/eurecaChat/eurecaChat.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
  link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
  script(src="https://use.fontawesome.com/921199c1ee.js")
  script(src='http://code.jquery.com/jquery-2.2.1.min.js')
  script(src='/js/header.js')
body
  include ../../header.jade
  main.wrapper
      div.row
        div.dt-10.tp-10.contents
          div.dt-7.title
            h1 EurecaChat
        div.dt-10.tp-10.contents
          div.aboutTechs.section
              p I have develop other chats using Spring Deferred result which is great. However, eureca.io seems to be a good NodeJS library to develop the same functionality faster.
              h4: a(href="http://eureca.io/") Eureca.io
              p Is the core of the chat. As the author says in the website:
              blockquote "Eureca.io is s nodejs transparent bidirectional RPC"
              h4: a(href="http://knockoutjs.com/") Knockout
              p Is a javascript framework which takes care of the chat frontend. As they say in their website Knockout is built to:
              blockquote "Simplify dynamic Javascript UIs with the Model-View-View Model (MVVM) pattern"
              p: b Find more in the links below:
          div.dt-12.tp-12.techlogos
                div.experiment
                  div.cube
                    div.face.one
                      a(href="https://www.typescriptlang.org/", target="_blank")
                        img(src="/images/cube/cube_typescript_s.jpg", alt="Typescript link" )
                    div.face.two
                      a(href="https://nodejs.org/en/", target="_blank")
                        img(src="/images/cube/cube_node_s.jpg", alt="NodeJS link" )
                    div.face.three
                      a(href="https://www.npmjs.com/", target="_blank")
                        img(src="/images/cube/cube_npm_s.jpg", alt="NPM link" )
                    div.face.four
                      a(href="http://nightwatchjs.org/", target="_blank")
                        img(src="/images/cube/cube_docker_s.jpg", alt="Docker link" )
                    div.face.five
                      a(href="http://knockoutjs.com/", target="_blank")
                        img(src="/images/cube/cube_knockout_s.jpg", alt="Knockout link" )
                    div.face.six
                      a(href="https://www.npmjs.com/", target="_blank")
                        img(src="/images/cube/cube_npm_s.jpg", alt="NPM link" )
          div.goal.section
            h3 GOAL
            ul
                li: p.nomargin Develop a chat functionality in nodejs using eureca.io.
          div.more-info.section
            h3 REPOSITORY
            ul: li: a(href="https://kimy82@bitbucket.org/kimy82/eurecachat.git", target="_blank") Chat repository.
          div.results.section
            h3 RESULTS
            ul: li
                p.nomargin Easy setup and fast development with NodeJS Eureca.io.
                p.nomargin Lack of typescript typings for Eureca.io.
                p.nomargin Knockout is an easy and usefull javascript framework.
            div.easy-setup.section
              h3 * SET UP
              ol
                  li
                    p.nomargin Clone repository.
                    p.command.nomargin: i git clone https://kimy82@bitbucket.org/kimy82/eurecachat.git
                  li
                    p.nomargin Run following command to install needed libraries.
                    p.command.nomargin: i npm install
                  li
                    p.nomargin Run following command to install typescript typings.
                    p.command.nomargin: i tsd install
                  li
                    p.nomargin Run the following command to start the chat.
                    p.command.nomargin: i node app.js
            div.section
              h3 * How to try.
              ul
                li: p If you are alone, open as many tabs as different users you want and click 'log in' button. You will see how the chat is notified about new users.
                li: p Select a user and start chatting.
          div.section
              h3 This is a live version of the chat.
              iframe(src="http://wetalkcode.co.uk:8000", class="chatWindow")
          div#comments
    include ../../footer.jade
script(src='http://code.jquery.com/jquery-2.2.1.min.js')
script(type='text/javascript').
  $(window).scroll(function(){
    if($(this).scrollTop() + window.innerHeight > ($(".experiment").position().top + $(".experiment").height() )){
       $('.face').addClass('startAnimation');
    }
  });
  var comments = JSON.parse("#{comments}".replace(/&quot;/g,'"'));
  var path = "#{path}";
script(src='/build/components.js')
