@import "../common/medias";
@import "../common/common";

main.wrapper {

    @media (max-width: @cube-media-query) {
      margin-top: 0;
    }
    @media (max-width: @cube-media-query-small) {
      margin-top: 10px;
    }

    div.contents {
        margin: 0 8.66%;
        @media (max-width: @modesgrid-media-query-large) {
            margin: 0;
        }
        @media (max-width:@modesgrid-media-query-medium) {
            ol,
            ul {
                padding: 5px 0;
            }
        }
        div.title {
            margin-top: 40px;
            @media (max-width: @cube-media-query) {
              margin-top: 0;
            }
            h1 {
                text-align: center;
            }
        }
        div.techlogos {
          div.experiment {
              perspective: 800px;
              position: relative;
              margin-top: 80px;
              min-height: 100px;
              min-width: 240px;
              @media (max-width: @cube-media-query-small) {
                margin-left: 20px;
              }
             .cube {
                  position: relative;
                  margin: 0 auto;
                  height: 60px;
                  width: 60px;
                  .transform-style(preserve-3d);

                  .face, .startAnimation {
                      position: absolute;
                      height: 60px;
                      width: 60px;
                      background-color: rgba(50, 50, 50, 0.3);

                      &.one.startAnimation {
                        .animation(cubeMoveTech1, 1, linear, 1s);
                        animation-fill-mode: forwards;
                        transform-origin: 50% 100%;
                        @keyframes cubeMoveTech1 {
                          0% {
                            transform: translate3d(0px, -60px, 0px) rotateX(90deg);
                          }
                          to {
                            transform: translate3d(0px, -60px, 0px);
                          }
                        }
                        @-webkit-keyframes cubeMoveTech1 {
                          0% {
                            -webkit-transform: translate3d(0px, -60px, 0px) rotateX(90deg);
                          }
                          to {
                            -webkit-transform: translate3d(0px, -60px, 0px);
                          }
                        }

                        @-moz-keyframes cubeMoveTech1 {
                          0% {
                            -moz-transform: translate3d(0px, -60px, 0px) rotateX(90deg);
                          }
                          to {
                            -moz-transform: translate3d(0px, -60px, 0px);
                          }
                        }
                      }
                      &.three.startAnimation {
                        .animation(cubeMoveTech3, 1, linear, 1s);
                        animation-fill-mode: forwards;
                        transform-origin: 0% 0%;
                        @keyframes cubeMoveTech3 {
                            0%{
                              transform: translate3d(60px, 0px, 0px) rotateY(90deg);
                            }
                            100% {
                                transform: translate3d(60px, 0px, 0px);
                            }
                        }

                        @-webkit-keyframes cubeMoveTech3 {
                            from {
                                -webkit-transform: translate3d(60px, 0px, 0px) rotateY(90deg);
                            }
                            to {
                                -webkit-transform: translate3d(60px, 0px, 0px);
                            }
                        }

                        @-moz-keyframes cubeMoveTech3 {
                            from {
                                -moz-transform: translate3d(60px, 0px, 0px) rotateY(90deg);
                            }
                            to {
                                -moz-transform: translate3d(60px, 0px, 0px);
                            }
                        }

                      }
                      &.four.startAnimation {
                        .animation(cubeMoveTech4, 1, linear, 2s);
                        left: -60px;
                        animation-fill-mode: forwards;
                        transform-origin: 100% 50%;
                        @keyframes cubeMoveTech4 {
                            0% { opacity: 0; }
                            49%{ opacity: 0; }
                            50%{
                              opacity: 1;
                              transform: translateX(-60px) translateZ(-35px) rotateY(-90deg);
                            }
                            100% {
                              transform: translate3d(-60px, 0, 0);
                            }
                        }
                        @-webkit-keyframes cubeMoveTech4 {
                          0% { opacity: 0; }
                          49%{ opacity: 0; }
                          50%{
                            opacity: 1;
                            -webkit-transform: translateX(-60px) translateZ(-35px) rotateY(-90deg);
                          }
                          100% {
                            -webkit-transform: translate3d(-60px, 0, 0);
                          }
                        }

                        @-moz-keyframes cubeMoveTech4 {
                          0% { opacity: 0; }
                          49%{ opacity: 0; }
                          50%{
                            opacity: 1;
                            -moz-transform: translateX(-60px) translateZ(-35px) rotateY(-90deg);
                          }
                          100% {
                            -moz-transform: translate3d(-60px, 0, 0);
                          }
                        }
                      }
                      &.five.startAnimation {
                        .animation(cubeMoveTech5, 1, linear, 1s);
                        animation-fill-mode: forwards;
                        transform-origin: 100% 50%;
                        @keyframes cubeMoveTech5 {
                            0% {
                              transform: translate3d(-60px, 0px, 0px) rotateY(-90deg);
                            }
                            to {
                              transform: translate3d(-60px, 0, 0);
                            }
                        }
                        @-webkit-keyframes cubeMoveTech5 {
                          0% {
                            -webkit-transform: translate3d(-60px, 0px, 0px) rotateY(-90deg);
                          }
                          to {
                            -webkit-transform: translate3d(-60px, 0, 0);
                          }
                        }

                        @-moz-keyframes cubeMoveTech5 {
                          0% {
                            -moz-transform: translate3d(-60px, 0px, 0px) rotateY(-90deg);
                          }
                          to {
                            -moz-transform: translate3d(-60px, 0, 0);
                          }
                        }
                      }
                      &.six.startAnimation {

                        .animation(cubeMoveTech6, 1, linear, 1s);
                        animation-fill-mode: forwards;
                        transform-origin: 100% 50%;
                        @keyframes cubeMoveTech6 {
                          0%{
                            transform: translate3d(0px, 30px, 0px) rotateX(90deg);
                          }
                          to {
                            transform: translate3d(0px, 60px, 0px);
                          }
                        }
                        @-webkit-keyframes cubeMoveTech6 {
                          0% {
                            -webkit-transform: translate3d(0px, 30px, 0px) rotateX(90deg);
                          }
                          to {
                            -webkit-transform: translate3d(0px, 60px, 0px);
                          }
                        }

                        @-moz-keyframes cubeMoveTech6 {
                          0% {
                            -moz-transform: translate3d(0px, 30px, 0px) rotateX(90deg);
                          }
                          to {
                            -moz-transform: translate3d(0px, 60px, 0px);
                          }
                        }
                      }
                    }
                  }
              }
          }
        div.section {
            padding-left: 20px;
            margin-top: 20px;
            @media (max-width:@modesgrid-media-query-medium){
              padding-left: 0px;
            }
            blockquote {
                font-size: 13px;
                text-align: center;
            }
            div.chart, img.inlineimage {
                text-align: center;
                @media (max-width: @modesgrid-media-query-medium) and (min-width: 410px) {
                    img {
                        width: 400px;
                    }
                }
                @media (max-width: 410px) and (min-width: @wtk-media-query-mininum) {
                    img {
                        width: 320px;
                    }
                }
            }
        }
    }
}
