@import "colors";
@import "medias";

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

main.wrapper {
  min-height: ~"calc(100% - 240px)";
  @media (max-width: @modesgrid-media-query-medium) {
      min-height: ~"calc(100% - 287px)";
  }
}

input[type='text'].errorInput {
  border: 1px solid red;
}

h1, h2, h3 {
  margin: 0 0 20px;
  text-transform: uppercase;
  color: @heading-color;
}
h4, h5, h6 {
  margin: 0 0 5px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
    text-decoration: none;
    color: @link-color;
    &:hover {
      text-decoration:none;
      color: @link-hover;
    }
}

p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: @body-color;
  margin: 0 0 20px;
}

ul, ol {
  list-style-type: none;
}

.nomargin{
  margin: 0;
}

.extramargin{
  margin-left: 20px;
  @media (max-width: 650px) {
      margin-left: 5px;
  }
}

.space {
  margin-left: 3px;
}

img {
  max-width: 100%;
}

main {
  margin-top: 79px;
}
blockquote{
  color: #000;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
}
input:placeholder {
    font-family: 'Lato', sans-serif;
}

input[type='text'], input[type='password'] {
  border: 1px solid #888;
  padding-left: 3px;
}

input:-webkit-autofill {
  background-color:  #e0b0f0;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  &:focus {
      -webkit-box-shadow: 0 0 0px 1000px #e0b0f0 inset;
  }
}

input[type='submit'], input[type='button']{
    background-color: #834299;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.placeholder() {
    ::-webkit-input-placeholder {font-family: 'Lato', sans-serif;}
    ::-moz-placeholder {font-family: 'Lato', sans-serif;}
    :-ms-input-placeholder {font-family: 'Lato', sans-serif;}
}
.placeholder();

.transition_3(@transition1, @transition2, @transition3) {
  -webkit-transition: @transition1 , @transition2, @transition3;
  -o-transition: @transition1 , @transition2, @transition3;
  transition: @transition1 , @transition2, @transition3;
}


.transition_2(@transition1, @transition2) {
  -webkit-transition: @transition1 , @transition2;
  -o-transition: @transition1 , @transition2;
  transition: @transition1 , @transition2;
}

.transform-style(@style){
  -webkit-transform-style: @style;
  transform-style: @style;
}

.transition_1(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.perspective-origin(@perspective) {
  -webkit-perspective-origin: @perspective;
  -moz-perspective-origin: @perspective;
  perspective-origin: @perspective;
}

.animation(@name, @iteration-count, @timing-function, @duration){
  -moz-animation-name: @name;
  -moz-animation-iteration-count: @iteration-count;
  -moz-animation-timing-function: @timing-function;
  -moz-animation-duration: @duration;
  -webkit-animation-name: @name;
  -webkit-animation-iteration-count: @iteration-count;
  -webkit-animation-timing-function: @timing-function;
  -webkit-animation-duration: @duration;
  animation-name: @name;
  animation-iteration-count: @iteration-count;
  animation-timing-function: @timing-function;
  animation-duration: @duration;
}

.two-animation(@name1, @name2, @iteration-count, @timing-function, @duration){
  -moz-animation-name: @name1, @name2;
  -moz-animation-iteration-count: @iteration-count;
  -moz-animation-timing-function: @timing-function;
  -moz-animation-duration: @duration;
  -webkit-animation-name: @name;
  -webkit-animation-iteration-count: @iteration-count;
  -webkit-animation-timing-function: @timing-function;
  -webkit-animation-duration: @duration;
  animation-name: @name;
  animation-iteration-count: @iteration-count;
  animation-timing-function: @timing-function;
  animation-duration: @duration;
}

.x_face(@rotateX, @translateZ){
  -webkit-transform: rotateX(@rotateX) translateZ(@translateZ);
  transform: rotateX(@rotateX) translateZ(@translateZ);
}

._face(@translateZ){
  -webkit-transform: translateZ(@translateZ);
  transform: translateZ(@translateZ);
}

.y_face(@rotateY, @translateZ){
  -webkit-transform: rotateY(@rotateY) translateZ(@translateZ);
  transform: rotateY(@rotateY) translateZ(@translateZ);
}
