@import "colors";
@import "medias";

.comments-box {
  margin: 50px 0;

  h2 {
    border-bottom: 1px solid #999;
  }
  .comment-box{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @border-color;
    padding: 10px;

    p.name{
      flex: 1 1 auto;
      margin: 0;
    }
    p.comment {
      flex: 1 1 auto;
      margin-top: 3px;
      margin-left: 18px;
    }
  }
  .new-comment{
    margin-top: 20px;
    text-align: left;
    input {
      padding-left: 2px;
    }
    .new-comment-header {
      display: flex;
      width: 50%;
      margin: 5px 0;
      input[type="text"] {
        flex: 1 1 50%;
      }
      a{
        flex: 1 1 20%;
        i{
          color: #807777;
          margin-left: 10px;
        }
      }
    }
    textarea#new_comment_body {
      width: 70%;
      @media (max-width: @modesgrid-media-query-medium){
          width: 100%;
      }
    }
  }
}
