@import "colors";
@import "common";

footer {
  box-shadow: 2px 2px 125px rgba(50, 50, 50, 0.2);
  div.wrapper{
    div.row {
      p{
        margin: 20px 0 0;
        color: #888;
        font-size: 14px;
      }
      p.repository-link {
        margin-top: 0;
      }
      div.footer-img-dg {
        text-align: center;
        margin-top: 15px;
        @media (max-width: 767px) {
            margin: 2px 0;
        }
      }
      div.footer-img-center {
        text-align: center;
        @media (max-width: 767px) {
            margin: 2px 0;
        }
      }

      div.footer-info {
        @media (max-width: 767px) {
            margin: 2px 0;
        }
      }
    }
  }
}
