@import "colors";
@import "common";
@import "medias";

div.register-box{
  display: none;
  height: 100%;
  width: 100%;
  bottom: 0;
  position: fixed;
  top: 0;
  transform: none;
  z-index: 12;
  background-color: rgba(0,0,0,0.2);
  & .navigation.sticky {
    top: 80px;
  }
  div.register-wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 330px;

    form.register-form {
      overflow: hidden;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      border-radius: 6px;
      background-color: #fff;
      div.header {
        background-color: @header-color;
        color: #fff;
        padding: 14px;
        font-size: 18px;
        font-weight: bold;
      }
      div.body {
        margin-top: 30px;
        div.group {
          margin: 22px 0;
          label {
            width: 100px;
            padding-right: 10px;
            display: inline-block;
            color: @body-color;
          }
          input {
            width: 150px;
            line-height: 20px;
            padding-left: 3px;
            &.errorInput {
              border: 1px solid red;
            }
            &:focus {
                background-color:  #e0b0f0;
            }
          }
        }
        input[type='submit']{
            margin-bottom: 20px;
        }
      }
      span.error {
        display: none;
        color: red;
        margin-bottom: 15px;
      }
    }
  }
}

.navigation {
    width: 100%;
    top: -76px;
    background: white;
    z-index: 11;
    height: 80px;
    @media (max-width: @modesgrid-media-query-medium) {
        top: -46px;
    }
    &.sticky {
        position: fixed;
        box-shadow: 2px 2px 5px rgba(50,50,50,0.2);
        top: 0;
        .transition_2(top 1s ease-in 0.25s,box-shadow 1s ease-in 0.25s);
    }
    nav {
        div.dt-6.mp-6 {
            margin: 0;
            position: relative;
            z-index: 1;
        }
        a.logo {
            img {
                margin: 10px 0;
            }
        }
        ul {
            list-style-type: none;
            margin: 30px 0;
            text-align: right;
            padding: 0;
            z-index: 2;
            @media (max-width: @cube-media-query) {
                margin: 50px 0;
                .sticky& {
                    margin: 15px 0;
                }
            }
            @media (max-width: @wtk-media-query-small){
                margin: 40px 0;
            }
            > li {
                text-align: center;
                display: inline-block;
                margin-left: 15px;
                padding-bottom: 20px;
                position: relative;
                z-index: 2;
                @media (max-width: @modesgrid-media-query-medium){
                  text-align: right;
                  padding-bottom: 10px;
                  display: block;
                }
                > a {
                    font-size: 12px;
                    font-weight: 600;
                    border-radius: 15px;
                    background: #9c9c9c;
                    padding: 4px 10px;
                    display: inline-block;
                    text-transform: uppercase;
                    color: #fff;
                    &:hover {
                        background: @link-color;
                    }
                }
                &:hover,.active{
                  > a{
                    background: @link-color;
                  }
                  ul{
                    display: block;
                  }
                }
                ul{
                  display: none;
                  position: absolute;
                  border: 1px solid #9c9c9c;
                  border-radius: 15px;
                  background: #ffffff;
                  text-align: right;
                  margin: 10px 0 0 !important;
                  padding: 10px;
                  width: 140px;
                  right: 0;
                  z-index: 2;
                  @media (max-width: @wtk-media-query-small){
                    margin-top: 5px !important;
                  }
                  li{
                    margin: 0;
                    padding: 4px;
                    display: block;
                    text-align: right;
                    a{
                      color: #9c9c9c;
                      background: #fff;
                      font-weight: 600;
                      display: block;
                      padding: 0;
                      &:hover{
                        background: #fff;
                        color: @link-color;
                      }
                    }
                    &:hover{
                      background: #fff;
                      a{
                        background: #fff;
                        color: @link-color;
                      }
                    }
                  }
                }
            }
            li.about, li.register, li.articles, li.login {
              @media (max-width: @modesgrid-media-query-medium){
                display: none;
              }
            }

            li.burguer {
              margin-right: 10px;
              display: none;
              @media (max-width: @modesgrid-media-query-medium){
                display: block;
              }
              &:hover{
                  color: @link-color;
              }
              ul.burguer-menu {
                position: relative;
                display: none;
                margin: 10px 0 0 auto !important;
                max-width: 150px;
                width: 100%;
                a{
                  background: #fff;
                  font-weight: 600;
                  &:hover{
                    background: #fff;
                  }
                }
                li.has-dropdown-burguer {
                  ul.sub-burguer-menu {
                    display: none;
                    border: 0;
                    position: relative;
                    padding: 0;
                    padding-right: 10px;
                    margin: 10px -10px 0 !important;
                    a{
                      &:hover{
                        color: @link-hover;
                      }
                    }

                    li {
                      text-align: left;
                    }
                  }
                  &.active {
                    ul.sub-burguer-menu {
                      display: block;
                    }
                  }
                }
              }
            }

        }
        div#experiment {
            perspective: 800px;
            position: absolute;
            margin-top: 35px;
            .perspective-origin(50% 100%);
            .transition_1( all 0.5s ease-in);
            z-index: 5;
            #cube {
                position: relative;
                margin: 0 auto;
                height: 61px;
                width: 61px;
                .transform-style(preserve-3d);
                .animation(cubeMove, infinite, ease-in, 8s);
                /*.transition_2( height 1s 0.25s,width 1s 0.25s);*/
                .transition_1(all 0.5s ease-in);
                @-webkit-keyframes cubeMove {
                    from {
                        -webkit-transform: rotateX(0deg) rotateY(0deg);
                    }
                    to {
                        -webkit-transform: rotateY(360deg) rotateX(360deg);
                    }
                }
                @keyframes cubeMove {
                    to {
                        transform: rotateY(360deg) rotateX(360deg);
                    }
                }
                @-moz-keyframes cubeMove {
                    from {
                        -moz-transform: rotateX(0deg) rotateY(0deg);
                    }
                    to {
                        -moz-transform: rotateY(360deg) rotateX(360deg);
                    }
                }

                .face {
                    position: absolute;
                    height: 61px;
                    width: 61px;
                    background-color: rgba(50, 50, 50, 0.3);
                    border: 1px solid #000;
                    /*.transition_3( height 1s 0.25s,width 1s 0.25s, transform 1s 0.25s);*/
                    .transition_1(all 0.5s ease-in);
                    &.one {
                      .x_face(90deg, 30px);
                    }
                    &.two {
                      ._face( 30px);
                    }
                    &.three {
                      .y_face( 90deg, 30px);
                    }
                    &.four {
                      .y_face( 180deg, 30px);
                    }
                    &.five {
                      .y_face( -90deg, 30px);
                    }
                    &.six {
                      .x_face( -90deg, 30px);
                    }
                }
            }
            .sticky& {
                margin-top: 20px;
                #cube {
                    height: 41px;
                    width: 41px;
                    .animation(cubeMoveHalf, 1, ease-in, 6s);
                    animation-fill-mode: forwards;
                    @-webkit-keyframes cubeMoveHalf {
                        from {
                            -webkit-transform: rotateX(0deg) rotateY(0deg);
                        }
                        to {
                            -webkit-transform: rotateY(340deg) rotateX(340deg);
                        }
                    }
                    @keyframes cubeMoveHalf {
                        to {
                            transform: rotateY(340deg) rotateX(340deg);
                        }
                    }
                    @-moz-keyframes cubeMoveHalf {
                        from {
                            -moz-transform: rotateX(0deg) rotateY(0deg);
                        }
                        to {
                            -moz-transform: rotateY(340deg) rotateX(340deg);
                        }
                    }
                    .face {
                        height: 41px;
                        width: 41px;
                        &.one {
                          .x_face( 90deg, 20px);
                        }
                        &.two {
                          ._face( 20px);
                        }
                        &.three {
                          .y_face( 90deg, 20px);
                        }
                        &.four {
                          .y_face( 180deg, 20px);
                        }
                        &.five {
                          .y_face( -90deg, 20px);
                        }
                        &.six {
                          .x_face( -90deg, 20px);
                        }
                    }
                }
            }
        }
    }
}
