head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  title UI Testing
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description", content="Nightwatch example for running UI tests")
  meta(name="robots", content="INDEX, NOFOLLOW")
  link(href="/build/css/nightwatch/nightwatch.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
  link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
  script(src="https://use.fontawesome.com/921199c1ee.js")
  script(src='http://code.jquery.com/jquery-2.2.1.min.js')
  script(src='/js/header.js')
body
  include ../../header.jade
  main.wrapper
      div.row
        div.dt-10.tp-10.contents
          div.dt-7.title: h1 UI Selenium testing with nightwatch
        div.dt-10.tp-10.contents
          div.aboutTechs.section
              p I usually test UI using Selenium within a Java project. However, tests weren't running as fast as I wanted. I was spending quite a lot of time developing UI Selenium test. Hence, I am looking for better tools for UI testing that can let me focus in main development. One of these ones is Nightwatch.
              h4: a(href="http://nightwatchjs.org/", target="blank") Nightwatch
              p As they explicity say in their web page Nightwatch definition is:
              blockquote "Nightwatch.js is an easy to use Node.js based End-to-End (E2E) testing solution for browser based apps and websites. It uses the powerful Selenium WebDriver API to perform commands and assertions on DOM elements."
              p: b Find more in the links below:
          div.dt-12.tp-12.techlogos
                div.experiment
                  div.cube
                    div.face.one
                      a(href="https://nodejs.org/en/", target="_blank")
                        img(src="/images/cube/cube_node_s.jpg", alt="NodeJS link" )
                    div.face.two
                      a(href="http://nightwatchjs.org/", target="_blank")
                        img(src="/images/cube/cube_nightwatch_s.jpg", alt="NightwatchJS link" )
                    div.face.three
                      a(href="https://www.npmjs.com/", target="_blank")
                        img(src="/images/cube/cube_npm_s.jpg", alt="NPM link" )
                    div.face.four
                      a(href="http://nightwatchjs.org/", target="_blank")
                        img(src="/images/cube/cube_nightwatch_s.jpg", alt="NightwatchJS link" )
                    div.face.five
                      a(href="https://nodejs.org/en/", target="_blank")
                        img(src="/images/cube/cube_node_s.jpg", alt="NodeJS link" )
                    div.face.six
                      a(href="https://www.npmjs.com/", target="_blank")
                        img(src="/images/cube/cube_npm_s.jpg", alt="NPM link" )
          div.goal.section
            h3 GOAL
            ul
                li: p.nomargin Easy UI testing. Tests have to be easy to change and fast to run.
                li: p.nomargin Run tests using just one command line, starting selenium server and run a suite against.
                li: p.nomargin Create an output useful for Jenkins.
          div.more-info.section
            h3 REPOSITORY
            ul: li: a(href="https://bitbucket.org/kimy82/nightwatchexample.git", target="_blank") Nightwatch repository.

          div.results.section
            h3 RESULTS
            ul: li
                p.nomargin Easy setup and fast development with NodeJS Nightwatch. Compared, for instance, with selenium test using JAVA, tests run faster and they are easier to change.
                p.nomargin There is the possibility to create your own reports.(In repository project example you can find an example)
                p.nomargin Easy to integrate them with Jenkins. It generates an xml that Jenkins understand.
                p.nomargin Console output nice and easy to understand.

            div.easy-setup.section
              h3 * SET UP
              ol
                  li
                    p.nomargin Clone repository.
                    p.command.nomargin: i git clone https://bitbucket.org/kimy82/nightwatchexample.git
                  li
                    p.nomargin Run following command to install needed libraries.
                    p.command.nomargin: i npm install
                  li
                    p.nomargin Run following command to run all tests.
                    p.command.nomargin: i nightwatch
                  li
                    p.nomargin Run all tagged tests with 'all'
                    p.command.nomargin: i nightwatch --tag all
                  li
                    p.nomargin Create the report.
                    p.command.nomargin: i nightwatch --reporter reporters/htmlReporter.js
            div.easy-setup.section
              h3 * CI PIPELINE
              p Run the tests in CI pipeline using Jenkins. Below you can see a configuration example. This concrete example runs all tests tagged with all and generates a customized report.
                  div.chart: img(src="/nightwatch/nightwatchJenkins.png", width="800px", alt="Nightwatch jenkins configuration example")
              h3 * Command line output example.
              div.chart: img(src="/nightwatch/console.png", width="800px", alt="Nightwatch run test from command line")
          div#comments
    include ../../footer.jade
script(src='http://code.jquery.com/jquery-2.2.1.min.js')
script(type='text/javascript').
  var comments = JSON.parse("#{comments}".replace(/&quot;/g,'"'));
  var path = "#{path}";
script(src='/build/components.js')
script(type='text/javascript').
    $(window).scroll(function(){
      if($(this).scrollTop() + window.innerHeight > ($(".experiment").position().top + $(".experiment").height() )){
         $('.face').addClass('startAnimation');
      }
    });
