html
    head
        title Blogs list of WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="List of Blogs for WeTalkCode")
        meta(name="robots", content="NOINDEX, NOFOLLOW")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/admin.css", rel="stylesheet")
    body
      include ./menu.jade
      main.wrapper
        div.row.dt-12
          ul
            each blog in blogs
              li(id="li_#{blog.id}")
                div.row
                  div.dt-2.tp-2.mp-12
                    a(href="/blog/view/#{blog.path}") #{blog.title}
                  div.dt-2.tp-2.mp-12
                    a(href="javascript: void(0)", id="#{blog.id}", class="delete" ) delete
                  div.dt-2.tp-2.mp-12
                    a(href="/admin/blog/edit/#{blog.id}", class="edit" ) edit
      include ../footer.jade
      script(src='http://code.jquery.com/jquery-2.2.1.min.js')
      script(type='text/javascript').
        $(function(){
          $("#blogs").addClass("active");
          var deleteBlog = function(e){
              var id = this.id;
              $.ajax({
                url:'/admin/blog/delete/'+id,
                success: function(result){
                  $("#li_"+id).remove();
                  }
              });
            }

            $(".delete").on('click', deleteBlog);
        });
