html
    head
        title Admin blog panel, WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="Blog panel for editing and creating new blogs")
        meta(name="robots", content="INDEX, FOLLOW")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/admin.css", rel="stylesheet")
    body
      include ./menu.jade
      h1 Create Blog
      main.wrapper
        div.row
          form(class="formBlog", action="/admin/blog",  method="post")
            div.row
              label.dt-1.pt-1 Title
              input(type='text', name="title", value="#{blog.title}", class="dt-3.pt-3")
            div.row
              label.dt-1.pt-1 Body
              textarea(class='dt-6.pt-6', name='body', rows="5", cols="52") #{blog.body}
            div.row
              label.dt-1.pt-1 tags
              input(type='text', name="tags", value="#{blog.tags}", class="dt-3.pt-3")
            div.row
              label.dt-1.pt-1 path
              input(type='text', name="path", value="#{blog.path}", class="dt-3.pt-3")
              input(type='hidden', name="id", value="#{blog.id}")
            div.row
              label.dt-1.pt-1 Date (YYY-MM-DD)
              input(type='text', name="published", value=moment(blog.published).format("YYYY-MM-DD"), class="dt-3.pt-3")
            if blog.id != ""
              div.row: input(type="submit", value="Update", class="dt-2.pt-2")
            else
              div.row: input(type="submit", value="Save", class="dt-2.pt-2")
      include ../footer.jade
      script(src='http://code.jquery.com/jquery-2.2.1.min.js')
      script(type='text/javascript').
          $("#blog").addClass("active");
