header.navigation
          div.wrapper
              nav.row
                  div.dt-6.mp-6
                      a(href="/", class="logo")
                          img(src="/images/logo.png", width="115px")
                  div.dt-6.mp-6
                      ul
                        li
                          a(href="/admin/blogs", id="blogs") blogs
                        li
                          a(href="/admin/blog", id="blog") Create blog
