@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/comments";
@import "../common/footer";
@import "../common/header";
@import "../common/blogs";

.wrapper {
    div.contents {
        div.techlogo {
            transition: all 0.2s ease-in-out;
            margin-top: 20px;
            text-align: center;
            img {
                margin: auto;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        .chatWindow{
          width: 90%;
          height: 450px;
          border: 2px solid #555;
        }
        div.easy-setup {
            p {
                padding-left: 20px;
            }
            p.command {
                padding-left: 40px;
            }
            @media (max-width: @wtk-media-query-small) {
                i {
                    word-break: break-all;
                }
            }
        }
    }
}
