head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title WeTalkCode
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description", content="404 error page")
    meta(name="robots", content="NOINDEX, NOFOLLOW")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
    link(href="/build/css/error.css", rel="stylesheet")
    link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
body
    div.error-404.dt-12
        span.error-title.dt-12 Not found ...
        div.gear.dt-12
            span.not-found 404
