html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title Joaquim Orra owner of WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="Joaquim Orra information")
        meta(name="robots", content="INDEX, FOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/about.css", rel="stylesheet")
        script(src='http://code.jquery.com/jquery-2.2.1.min.js')
        script(src='/js/header.js')
        script(src='/js/instafeed.min.js')
    body
        include ./header.jade
        main.wrapper
          div.row
            div.dt-8.tp-8.about-content
              div.row.me
                div.myInfo
                  blockquote "We are passionate about technology, learning as a lifestyle, agile methodologies"
                  a(href="mailto:joaquim.orra@gmail.com") Email to: joaquim.orra@gmail.com
                  a(href="/pdf/CV_Joaquim_Orra.pdf") View my CV
                  blockquote.life "But life is not only about programming..."
                  div#instafeed
        include ./footer.jade
    script(type='text/javascript').
            var feedKim = new Instafeed({
                                       get: 'user',
                                       userId: '1638731149',
                                       accessToken: '1638731149.1677ed0.c550680e63f24bc4a3a55755d35c80ce',
                                       template:'<a href="{{link}}" class="insta"><img src="{{image}}" /></a>',
                                       limit: 100,
                                       filter: function(image) {
                                             return image.tags.indexOf('wtc') >= 0;
                                         }
                                    });
               feedKim.run();
             var feedCris = new Instafeed({
                                           get: 'user',
                                           userId: '223996957',
                                           accessToken: '223996957.1677ed0.c72a685746c749ad8986da13befc3459',
                                           template:'<a href="{{link}}" class="insta"><img src="{{image}}" /></a>',
                                           limit: 100,
                                           filter: function(image) {
                                                 return image.tags.indexOf('wtc') >= 0;
                                             }
                                          });




            feedCris.run();
