html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="google-site-verification", content="V2yzt9EWmrJvlNdaiPCkMX5VxWGeVuJEIr0Z3OB1ekI")
        title WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="This is WeTalkCode, we have researches about technologies like nodeJS, NightwatchJS, Spring, Spring Data, Solr, Eureca.io. We are also aiming to add some of our products.")
        meta(name="robots", content="INDEX, FOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/libs/jquery.bxslider.css", rel="stylesheet")
        link(href="/build/css/index.css", rel="stylesheet")

    body
        include ./header.jade

        main.wrapper
            div.row
                div.dt-12.tp-12
                  span #{errorMessage}
        include ./footer.jade

    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/header.js')
