footer
    div.wrapper
        div.row
            div.dt-8.tp-8.mp-12.footer-info
                p  2016 - Email me at
                    a(href="mailto:joaquim.orra@gmail.com", class="space") joaquim.orra@gmail.com
                p.repository-link: a(href="https://kimy82@bitbucket.org/kimy82/wetalkcode.git", target="_blank") WeTalkCode Repository
            div.dt-1.tp-1.mp-4.footer-img-dg
              a(href="https://www.digitalocean.com/", target="_blank"): img(src="https://cloud-cdn-digitalocean-com.global.ssl.fastly.net/aurora/assets/images/cloud-logo-e6000e2fb78e0910331c922e91584655.svg", alt="Digital Ocean logo")
            div.dt-1.tp-1.mp-4.footer-img-center
                a(href="https://www.docker.com/", target="_blank"): img(src="https://www.docker.com/favicons/apple-touch-icon-57x57.png", alt="Docker logo")
            div.dt-1.tp-1.mp-4.footer-img-dg
                a(href="https://nodejs.org/en/", target="_blank"): img(src="https://nodejs.org/static/favicon.png", alt="NodeJS logo")
