script(src="https://use.fontawesome.com/921199c1ee.js")
div.register-box
  div.register-wrapper
    form( action="/register", method="POST", autocomplete="off", class="register-form")
      div.header Register in 30 seconds!
      div.body
        div.group
          label Username
          input(type="text", name="username", id="username" )
        div.group
          label Company
          input(type="text", name="company" , id="company")
        div.group
          label Email
          input(type="text", name="email", id="email")
        div.group
          label Password
          input(type="password", name="password", id="password")
        input(type="submit", value="Register")
        span.error Some fields are empty

header.navigation
    div.wrapper
        nav.row
            div.dt-6.mp-4
              div#experiment
                div#cube
                  div.face.one
                    a(href="/")
                      img(src="/images/cube/cube_c_s.jpg", alt="C from Code" )
                  div.face.two
                    a(href="/")
                      img(src="/images/cube/cube_wtc_s.jpg", alt="wtc from We talk code" )
                  div.face.three
                    a(href="/")
                      img(src="/images/cube/cube_t_s.jpg", alt="T from Talk" )
                  div.face.four
                    a(href="/")
                      img(src="/images/cube/cube_wtcG_s.jpg", alt="wtc from We talk code" )
                  div.face.five
                    a(href="/")
                      img(src="/images/cube/cube_w_s.jpg", alt="W from We" )
                  div.face.six
                    a(href="/")
                      img(src="/images/cube/cube_wtcB_s.jpg", alt="wtc from We talk code" )

            div.dt-6.mp-8
                ul
                    li.has-dropdown.articles
                      a(href="javascript: void(0)") articles
                      ul
                        li: a(href="/blog/view/autocomplete") Autocomplete
                        li: a(href="/blog/view/searchEngines") Search Engines
                        li: a(href="/blog/view/nightwatch") Nightwatch
                        li: a(href="/blog/view/eurecaChat") EurecaChat
                    li.about
                        a(href="/about") about
                    if !login
                      li.login
                        a(href="/login") Sign in
                    li.register
                        if login
                          a(href="/client/dashboard") Your account
                        else
                          a(href="javascript: void(0)") register

                    li.burguer
                        i(class="fa fa-bars fa-2x", aria-hidden="true")
                        ul.burguer-menu
                            li.has-dropdown-burguer
                              a(href="javascript: void(0)") articles
                              ul.sub-burguer-menu
                                li: a(href="/blog/view/autocomplete") Autocomplete
                                li: a(href="/blog/view/searchEngines") Search Engines
                                li: a(href="/blog/view/nightwatch") Nightwatch
                                li: a(href="/blog/view/eurecaChat") EurecaChat
                            li
                                a(href="/about") about
                            if !login
                              li: a(href="/login") Sign in

                            li.register-burguer
                              if login
                                a(href="/client/dashboard") Your account
                              else
                                a(href="javascript: void(0)") register
