html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="google-site-verification", content="V2yzt9EWmrJvlNdaiPCkMX5VxWGeVuJEIr0Z3OB1ekI")
        title WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="This is WeTalkCode, we have researches about technologies like nodeJS, NightwatchJS, Spring, Spring Data, Solr, Eureca.io. We are also aiming to add some of our products.")
        meta(name="robots", content="INDEX, FOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/libs/jquery.bxslider.css", rel="stylesheet")
        link(href="/build/css/index.css", rel="stylesheet")

    body
        include ./header.jade
        div.banner
            ul.bxslider.slider
                li.slide
                    img(src="/images/banner.png", alt="list of technologies banner")
                li.slide
                    img(src="/images/strive.png", alt="Strive about technology banner")
                li.slide
                    img(src="/images/contact.png", alt="Contact we talk code banner")

        main.wrapper
            div.row
                div.blogs-container.dt-8.tp-8
                    ul.blogs-list
                        each blog in blogs
                            li(id="li_#{blog.id}")
                                a(href="/blog/view/#{blog.path}")
                                    h2 #{blog.title}
                                      span=moment(blog.published).format("DD MMM YYYY")
                                p  #{blog.body}
                                p
                                    a(href="/blog/view/#{blog.path}", class="read-more") Read More


        include ./footer.jade

    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/jquery.bxslider.min.js')
    script(src='/js/header.js')
    script(type='text/javascript').
      $(function(){
          $('.bxslider').bxSlider();
      });
