html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title Login page to admin of WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="Login page for getting access to the admin of WeTalkCode")
        meta(name="robots", content="NOINDEX, NOFOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/login.css", rel="stylesheet")
        script(src='http://code.jquery.com/jquery-2.2.1.min.js')
        script(src='/js/header.js')
    body
        include ./header.jade
        main.wrapper
            div.row
                div.slider.dt-12.tp-12.mp-12
                  form(action="/login", method="post")
                    div.row
                        div.dt-3
                            label Email:
                        div.dt-3
                            input(type="text", name="username")
                    div.row
                        div.dt-3
                            label Password:
                        div.dt-3
                            input(type="password", name="password")
                    div.row
                        div.dt-12
                            input(type="submit", value="Log In")
         include ./footer.jade
