head
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  title Autocomplete
  meta(name="viewport",content="width=device-width, initial-scale=1")
  meta(name="description", content="Autocomplete example that uses SpringMVC, Camel, Hibernate, Spring Data")
  meta(name="robots", content="INDEX, NOFOLLOW")
  link(href="/build/css/autocomplete/autocomplete.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
  link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
  script(src="https://use.fontawesome.com/921199c1ee.js")
  script(src='http://code.jquery.com/jquery-2.2.1.min.js')
  script(src='/js/header.js')
body
  include ../../header.jade
  main.wrapper
      div.row
        div.dt-10.tp-10.contents
          div.dt-7.title
            h1 Autocomplete example
        div.dt-10.tp-10.contents
          div.aboutTechs.section
              p This is an autocomplete functionality using:
                ul
                  li
                    a(href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html", target="_blank") Spring MVC
                  li
                    a(href="http://projects.spring.io/spring-data/", target="_blank") Spring Data
                  li
                    a(href="http://projects.spring.io/spring-batch/", target="_blank") Spring Batch
                  li
                    a(href="http://hibernate.org/", target="_blank") Hibernate
                  li
                    a(href="http://camel.apache.org/", target="_blank") Camel
              h3 Most relevant
              h4: a(href="http://camel.apache.org/", target="_blank") Apache Camel
              p As they explicity say in their web page Camel definition is:
              blockquote "Camel empowers you to define routing and mediation rules in a variety of domain-specific languages, including a Java-based Fluent API, Spring or Blueprint XML Configuration files, and a Scala DSL."
              h4: a(href="http://projects.spring.io/spring-data/", target="_blank") Spring Data
              p As they explicity say in their web page Spring Data is:
              blockquote "Spring Data’s mission is to provide a familiar and consistent, Spring-based programming model for data access while still retaining the special traits of the underlying data store."
              p: b Find more in the links below:
          div.dt-12.tp-12.techlogos
                div.experiment
                  div.cube
                    div.face.one
                      a(href="http://hibernate.org/", target="_blank")
                        img(src="/images/cube/cube_hibernate_s.jpg", alt="Hibernate link" )
                    div.face.two
                      a(href="http://camel.apache.org/", target="_blank")
                        img(src="/images/cube/cube_camel_s.jpg", alt="Apache Camel link" )
                    div.face.three
                      a(href="https://spring.io/", target="_blank")
                        img(src="/images/cube/cube_spring_s.jpg", alt="Spring link" )
                    div.face.four
                      a(href="http://hibernate.org/", target="_blank")
                        img(src="/images/cube/cube_hibernate_s.jpg", alt="Hibernate link" )
                    div.face.five
                      a(href="http://camel.apache.org/", target="_blank")
                        img(src="/images/cube/cube_camel_s.jpg", alt="Apache Camel link" )
                    div.face.six
                      a(href="http://nightwatchjs.org/", target="_blank")
                        img(src="/images/cube/cube_docker_s.jpg", alt="Docker link" )
          div.goal.section
            h3 GOAL
            ul
                li
                  p.nomargin Create an autocomplete which reads entries from a dictionary.
                li
                  p.nomargin The dictionary has to be reset periodically with a set of default entries.
                li
                  p.nomargin The dictionary entries have to be easy to maintain.
          div.more-info.section
            h3 REPOSITORY
            ul
              li
                a(href="https://kimy82@bitbucket.org/kimy82/autocomplete-example.git", target="_blank") Autocomplete repository.

          div.results.section
            h3 RESULTS
            ul
              li
                p.nomargin With Camel we can just drop a file in a concrete folder with words to add or remove to the dictionary.
                p.extramargin Camel spring XML configuration is the following:
                  img(src="/autocomplete/camelxml.png", class="inlineimage", alt="Camel Spring xml configuration")
                p.extramargin Camel Java code example:
                  img(src="/autocomplete/camelJava.png", class="inlineimage", alt="Camel route java code example")
                p.nomargin Usage of Spring Batch resets the dictionary periodically. It basically works running a task periodically with a simple annotation in the code.
                p.extramargin Spring scheduled task example:
                  img(src="/autocomplete/task.png", class="inlineimage", alt="Spring scheduled task example")
                p.nomargin Usage of embedded database H2 provides what we need for a none production environment. The xml configuration is quite straight forward and we can also provide a sql file which can contain some first inserts to the DB.
                p.extramargin XML configuration for H2 embedded DB.
                  img(src="/autocomplete/h2.png", class="inlineimage", alt="H2 embedded database xml configuration")
                p.nomargin Spring Data seems performs querys to the DB without writting any SQL query.
                p.extramargin Spring Data DB access layer is as simple as that:
                  img(src="/autocomplete/springDataRepo.png", class="inlineimage", alt="Spring data repository")

            div.easy-setup.section
              h3 * SET UP with Docker
              ol
                  li
                    p.nomargin The following command will download the image and run this example in port 8080.
                    p.command.extramargin
                      i docker run -it --rm -p 8080:8080 kimy82/autocomplete
                  li
                    p.nomargin Once the the docker image is runnig, we just need to drop a file in the camel folder in order to add or remove entries to the dictionary.
                    p.extramargin The first thing we need is the docker container id. In command line run the command below.
                    p.command.extramargin
                      i docker ps
                    p.extramargin  You should see the container docker id as the image shows.
                    img(src="/autocomplete/dockerps.png", class="inlineimage", alt="Docker command line for view active processes")
                  li
                    p.nomargin Using the container ID we have seen in the step before you can add files to the docker container using:
                    p.command.extramargin
                      i (Command to add words in the dictionary) -> docker cp add_words.txt containerId:usr/local/tomcat/camelWords
                    p.command.extramargin
                        i (Command to remove words in the dictionary) docker cp delete_words.txt containerId:usr/local/tomcat/camelWords
                  li
                    p.nomargin Once the dropped file is processed it will be kept in the done folder that is within the camelWords folder. You can drop any file that matches "add_words*.txt" or "delete_words*.txt". That means that the you can track your added or removed words looking done folder.
            div.easy-setup.section
              h3 * Setup without Docker
              p In here you have 2 options.
              ul
                li
                  p.nomargin Clone the repository, build the war and use a tomcat container to run it.
                li
                  p.nomargin Clone the repository and run the embedded server jetty the project has.
            div.section
              h3 This is a live version of the Autocomplete.
              p.nomargin Sadly, you are not allowed to drop files to update the dictionary but you can search for technologies such as backbone.
              iframe(src="http://wetalkcode.co.uk:8080/Autocomplete", class="autocompleteWindow")
          div#comments
    include ../../footer.jade
script(src='http://code.jquery.com/jquery-2.2.1.min.js')
script(type='text/javascript').
  $(window).scroll(function(){
    if($(this).scrollTop() + window.innerHeight > ($(".experiment").position().top + $(".experiment").height() )){
       $('.face').addClass('startAnimation');
    }
  });
  var comments = JSON.parse("#{comments}".replace(/&quot;/g,'"'));
  var path = "#{path}";
script(src='/build/components.js')
