html
    head
        title Search Engines
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="Studying the speed between Solr, Elastic Search and Postgres.")
        meta(name="robots", content="INDEX, NOFOLLOW")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(href="/build/css/searchEngines/searchEngines.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        script(src="https://use.fontawesome.com/921199c1ee.js")
        script(src='http://code.jquery.com/jquery-2.2.1.min.js')
        script(src='/js/header.js')
    body
        include ../../header.jade
        main.wrapper
            div.row
                div.dt-10.contents
                    div.dt-6.tp-12.title: h1 Solr Postgis ElasticSearch
                div.dt-10.tp-12.contents
                  div.aboutTechs.section
                    p I have chosen 3 powerful products in the market which are able to perform geospatial querys. The test will try their performance when performing a geospatial search.
                    h4: a(href="http://lucene.apache.org/solr/", target="_blank") Solr
                    p As they explicitly say in their web page solr definition is:
                    blockquote "Solr is highly reliable, scalable and fault tolerant, providing distributed indexing, replication and load-balanced querying, automated failover and recovery, centralized configuration and more. Solr powers the search and navigation features of many of the world's largest internet sites."
                    h4: a(href="https://www.elastic.co/products/elasticsearch", target="_blank") Elastic Search
                    p As they explicitly say in their web page Elastic Search definition is:
                    blockquote "Distributed, scalable, and highly available. Real-time search and analytics capabilities. Sophisticated RESTful API."
                    h4: a(href="http://postgis.net/", target="_blank") Postgres and Postgis
                    p As they explicitly say in their web page Postgis definition is:
                    blockquote "PostGIS is a spatial database extender for PostgreSQL object-relational database. It adds support for geographic objects allowing location queries to be run in SQL."
                    p: b Find more in the links below:
                  div.dt-12.tp-12.techlogos
                      div.experiment
                        div.cube
                          div.face.one
                            a(href="https://www.elastic.co/products/elasticsearch", target="_blank")
                              img(src="/images/cube/cube_elastic_s.jpg", alt="Elastic search link" )
                          div.face.two
                            a(href="http://lucene.apache.org/solr/", target="_blank")
                              img(src="/images/cube/cube_solar_s.jpg", alt="Solr link" )
                          div.face.three
                            a(href="http://postgis.net/", target="_blank")
                              img(src="/images/cube/cube_postgis_s.jpg", alt="Postgis link" )
                          div.face.four
                            a(href="http://lucene.apache.org/solr/", target="_blank")
                              img(src="/images/cube/cube_solar_s.jpg", alt="Solr link" )
                          div.face.five
                            a(href="http://postgis.net/", target="_blank")
                              img(src="/images/cube/cube_postgis_s.jpg", alt="Postgis link" )
                          div.face.six
                            a(href="https://www.elastic.co/products/elasticsearch", target="_blank")
                              img(src="/images/cube/cube_elastic_s.jpg", alt="Elastic search link" )
                  div.goal.section
                    h3 GOAL
                    ul
                      li: p.nomargin Test speed between Solr, ElasticSearch and Postgres(postGis) while performing a geo search query within a circle.
                      li: p.nomargin Test only with one connection at a time.
                  div.more-info.section
                    h3 REPOSITORIES
                    ul
                      li: a(href="https://bitbucket.org/kimy82/searengines.git", target="_blank") Solr and elastic search repository.
                      li: a(href="https://bitbucket.org/kimy82/springdatapostgis.git", target="_blank") Postgres PostGis repository.
                  div.results.section
                    h3 RESULTS
                    p Elastic search has been excluded from the study. The reasons are explained below:
                    ul
                      li: p.nomargin It had to run with at least 1G of allocated memory to be able to get some results whereas in Solr/Postgis 512mb was enough to perform query's on 12 Million records. This fact makes them no comparable.
                      li: p.nomargin Elastic search was collapsing around 7 million records when having 1G of allocated memory.

                    p Between Solr and PostGis we have seen a better performance in Solr.
                    p In postgis it is possible to get better results increasing the memory allocated. Obviously when reading from phisical disc which happens when the allocated memory is not enough the time consumed is much more.

                  div.setup.section
                    h3 * TEST SET UP CONFIGURATION
                    ul
                      li: p.nomargin Both running with 512mb.
                      li: p.nomargin Both performing the same query following rule: Given a geolocation point get results within a circle of 1Km.
                      li: p.nomargin Both just running one DB connection at a time. We haven't tested performance running multiple connections at a time.

                    p Chart below shows the times registered while using spring data as a DAO layer. Each point is obtained using the same query and adding a new half million records.
                    div.chart: img(src="/searchEngines/solrgis.png" width="600px")
                    p It is obvious when the cache memory ends in Postgres as we can see a big time consuming increase.
                    p Chart below shows the times registered while using direct sql query with random parameters for each break point. For each breaking point the whole data has been inserted and indexed again.
                    div.chart: img(src="/searchEngines/solr-gis.png" width="600px")
                    p Again, it is obvious when the cache memory ends in Postgres. It is around 5M rows. In this second chart we can appreciate how search within more than 10M rows has very poor performance in Postgres. In Solr, after the first query with fresh just inserted data, subsequent querys with random parameters where in the level of the first chart.

                  div.conclusions.section
                    h3 PROS AND CONS
                    h4.tech Solr
                    div.dt-2.tp-2.mp-2
                      p.fa-thumb: i(class="fa fa-thumbs-down fa-2x",aria-hidden="true")
                    div.dt-10.tp-10.mp-10
                      ul
                        li: p.nomargin Difficult configuration.
                        li: p.nomargin Not SQL syntax for querys.
                        li: p.nomargin Not all data in a central point. That means that you should have your DB and then index data into Solr.
                    div.dt-2.tp-2.mp-2
                      p.fa-thumb: i(class="fa fa-thumbs-up fa-2x",aria-hidden="true")
                    div.dt-10.tp-10.mp-10
                      ul
                        li: p.nomargin Lot of flexibility while running querys.
                        li: p.nomargin Separate server for massive querys.
                        li: p.nomargin Good Spring data integration.
                        li: p.nomargin Possibility of using shards.
                        li: p.nomargin Good web layer to track cores, indexing, querys, etc.
                    h4.tech PostGis
                    div.dt-2.tp-2.mp-2
                      p.fa-thumb: i(class="fa fa-thumbs-down fa-2x",aria-hidden="true")
                    div.dt-10.tp-10.mp-10
                      ul
                        li: p.nomargin Need more allocated memory to run as fast as Solr.
                        li: p.nomargin All data in a centralized point. So it will handle normal querys and massive geolocation querys so that, more stress for the DB.
                        li: p.nomargin Bad performance while deleting and adding new elements to the table. A completed re-index was necessary.
                    div.dt-2.tp-2.mp-2
                      p.fa-thumb: i(class="fa fa-thumbs-up fa-2x",aria-hidden="true")
                    div.dt-10.tp-10.mp-10
                      ul
                        li: p.nomargin Easy postgres integration.
                        li: p.nomargin Easy create new spatial tables and run querys.
                        li: p.nomargin All data in a centralized point. So just one point to maintain.
                    h4.tech Elastic search
                    div.row
                      div.dt-2.tp-2.mp-2
                        p.fa-thumb: i(class="fa fa-thumbs-down fa-2x",aria-hidden="true")
                      div.dt-10.tp-10.mp-10
                        ul
                          li: p.nomargin Bad Spring data integration, incompatibilities with Spring data elastic search module and last versions of Elastic Search.
                          li: p.nomargin Out of Memory exceptions either because of GC or Buffer java head space, even though we tried to change configuration of elastic search.
                          li: p.nomargin From the results I had before collapsing. It is not as fast as Solr.
                  div#comments
  include ../../footer.jade
script(src='http://code.jquery.com/jquery-2.2.1.min.js')
script(src='/build/components.js')
script(type='text/javascript').
    $(window).scroll(function(){
      if($(this).scrollTop() + window.innerHeight > ($(".experiment").position().top + $(".experiment").height() )){
         $('.face').addClass('startAnimation');
      }
    });
    var comments = JSON.parse("#{comments}".replace(/&quot;/g,'"'));
    var path = "#{path}";
