html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="google-site-verification", content="V2yzt9EWmrJvlNdaiPCkMX5VxWGeVuJEIr0Z3OB1ekI")
        title WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="This is WeTalkCode, we have researches about technologies like nodeJS, NightwatchJS, Spring, Spring Data, Solr, Eureca.io. We are also aiming to add some of our products.")
        meta(name="robots", content="INDEX, FOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/libs/jquery.bxslider.css", rel="stylesheet")
        link(href="/build/css/products/commentswtc.css", rel="stylesheet")
        script(src="https://use.fontawesome.com/921199c1ee.js")
    body
        include ../header.jade

        main.wrapper
            div.row
                div.products-box.dt-12.tp-12
                  if login && user[0].commentProduct
                      p You already got the comments WTC product.
                      input(type="submit", value="Go to your controll panel.", onclick="window.location='/client/dashboard';")
                  else
                    div.product-advertisment
                        p Our d comment product is easy to add to your website and you can can get great benefits from that.
                        div.product-customs
                          div.product-free
                            div.plan.first
                              h1 free
                              h1.money Free
                              h2 per year
                              input(type="submit", value="Get free version", onclick="window.location='/product/commentswtc/get/free';")
                          div.product-pay
                            div.plan
                              h1 Pro
                              h1.money 50 &euro;
                              h2 per year
                              input(type="submit", value="Get Pro version", onclick="window.location='/product/commentswtc/get/pro';")



        include ../footer.jade

    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/header.js')
