html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="google-site-verification", content="V2yzt9EWmrJvlNdaiPCkMX5VxWGeVuJEIr0Z3OB1ekI")
        title WeTalkCode
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description", content="This is WeTalkCode, we have researches about technologies like nodeJS, NightwatchJS, Spring, Spring Data, Solr, Eureca.io. We are also aiming to add some of our products.")
        meta(name="robots", content="INDEX, FOLLOW")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet")
        link(href="/build/css/libs/modestgrid.css", rel="stylesheet")
        link(href="/build/css/products/getcommentswtc.css", rel="stylesheet")
        script(src="https://use.fontawesome.com/921199c1ee.js")
    body
        include ../header.jade

        main.wrapper
            div.row
                div.products-box.dt-12.tp-12
                  if login && user[0].commentProduct && user[0].commentProductVersion == 'FREE'
                      p You already got the comments WTC product.
                      input(type="button", value="Go to your controll panel.", onclick="window.location='/dashboard';")
                      input(type="button", value="Go PRO", onclick="window.location='/product/commentswtc/get/pro';")
                  else

                      if type == 'pro'
                        p You have choosen the Pro version.
                      else
                        p You have choosen the Free version.
                      div.top-info
                        div.features-list
                          ul
                           li: i(class="fa fa-check", aria-hidden="true") Let user to comment on your pages.
                           if type == 'pro'
                            li: i(class="fa fa-check", aria-hidden="true") Get automatic feedback from the comments.
                           else
                            li.notick Get automatic feedback from the comments (Only Pro version).
                           li: i(class="fa fa-check", aria-hidden="true") Have historic of comment.
                           li: i(class="fa fa-check", aria-hidden="true") Remove comments you do not like.
                           li: i(class="fa fa-check", aria-hidden="true") Block users.
                           li: i(class="fa fa-check", aria-hidden="true") Allow users to comment using twiter, Facebook or goolge accounts.
                           if type == 'pro'
                            li: i(class="fa fa-check", aria-hidden="true") Allow users to share comment in the social network.
                           else
                            li.notick Allow users to share comment in the social network.(Only in Pro vesion)
                           li: i(class="fa fa-check", aria-hidden="true") Customise your layout.
                           if type == 'pro'
                            li: i(class="fa fa-check", aria-hidden="true") Advanced options when Customising your layout.
                           else
                            li.notick Advanced options when Customising your layout.(Only in Pro vesion)
                           if type == 'pro'
                             li: i(class="fa fa-check", aria-hidden="true") Unlimited number of comments.
                           else
                             li: i(class="fa fa-check", aria-hidden="true") Total number of 5Mb comments.(Arround 500 comments).
                        div.actions-box
                          input(type="text", placeholder="Your domain ex. wetalkcode.co.uk", id="theweb")
                          input(type="button", value="Get your key", id="getkey")

                          div.yourKey
                            p.yourKey-explanation Your key has been generated. You don't have to copied. It will be in your controll panell.
                            span#yourKey-value
                            a( href="/dashboard", id="getkey") Go to your control panel



                      if type == 'pro' &&  user[0].commentProductVersion == 'PRO_NOT_PAID'
                        div.pay-box
                          p You can get your key and use the free version but to get the full functionality you are looking for you have to make the payment.
                          input(type="button", value="Pay now!")
                      if type == 'free' &&  (user[0].commentProductVersion == 'FREE' || user[0].commentProductVersion =='FREE_NO_KEY')
                        div.pay-box
                          p To get the full functionality you might consider to get the the PRO version.
                          input(type="button", value="Go PRO")

        include ../footer.jade

    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='/js/header.js')
    script(type='text/javascript').
      $(function(){
          $('#getkey').on('click', function(){
            if($("#theweb").val().trim() == ""){
             $("#theweb").addClass("errorInput");
             return;
            }
            $.ajax({
                url: "/product/generateKey/"+$("#theweb").val(),
                type: "post",
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                 },
                success: function(data){

                  if(data.status == 'failed'){
                    $(".yourKey-explanation").hide();
                  }

                  $("#yourKey-value").text(data.key);
                  $(".yourKey").show('slow');
                }
            });
          });
          $("#theweb").focus(function(){
            $("#theweb").removeClass("errorInput");
          })

      });
