@import "../common/colors";
@import "../common/medias";
@import "../common/common";
@import "../common/comments";
@import "../common/footer";
@import "../common/header";
@import "../common/blogs";
.wrapper {
    div.contents {
        div.techlogos {
            div.techlogo {
                margin: 30px 10px;
                transition: all 0.2s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        div.section {
            h4.tech {
                margin-bottom: 20px;
            }
            img.inlineimage {
                margin: 10px 0;
                display: block;
                border: 1px solid #C8C0C0;
            }
            .autocompleteWindow {
              width: 90%;
              height: 500px;
              border: 2px solid #555;
            }
        }
    }
}
